# Magento generated
/var/
/generated/
/pub/static/*
!/pub/static/.htaccess
/pub/media/catalog/product/cache/
/pub/media/tmp/*
/pub/media/wysiwyg/.thumbs/
/pub/media/_cache/

# Composer
/vendor/
/composer.lock

# Env secrets
/app/etc/env.php

# Node / Tailwind / Hyvä
/node_modules/
/app/design/**/web/tailwind/build/
/app/design/**/web/tailwind/generated/

# IDE / OS
/.idea/
/.vscode/
.DS_Store
Thumbs.db


